/dts-v1/;

/ {
	compatible = "digi,ccmp25-dvk", "digi,ccmp25", "st,stm32mp255";
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = "/serial@400e0000";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "arm,cortex-a35";
			device_type = "cpu";
			reg = <0x0>;
			enable-method = "psci";
		};

		cpu@1 {
			compatible = "arm,cortex-a35";
			device_type = "cpu";
			reg = <0x1>;
			enable-method = "psci";
		};
	};

	memory@98000000 {
		device_type = "memory";
		reg = <0x0 0x98000000 0x0 0x14000000>;
	};

	intc: interrupt-controller@4ac10000 {
		compatible = "arm,cortex-a7-gic";
		#interrupt-cells = <3>;
		interrupt-controller;
		interrupt-parent = <&intc>;
		reg = <0x0 0x4ac10000 0x0 0x1000>,
		      <0x0 0x4ac20000 0x0 0x2000>,
		      <0x0 0x4ac40000 0x0 0x2000>,
		      <0x0 0x4ac60000 0x0 0x2000>;
		interrupts = <1 9 0xf04>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&{/interrupt-controller@4ac10000}>;
		interrupts = <1 13 0xf08>,
		             <1 14 0xf08>,
		             <1 11 0xf08>,
		             <1 10 0xf08>;
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	serial@400e0000 {
		compatible = "st,stm32h7-uart";
		reg = <0x0 0x400e0000 0x0 0x400>;
	};

	chosen {
		seL4,elfloader-devices =
			"serial0",
			&{/psci},
			&{/timer};

		seL4,kernel-devices =
			"serial0",
			&{/interrupt-controller@4ac10000},
			&{/timer};

		stdout-path = "/serial@400e0000";
		serial0 = &{/serial@400e0000};
	};
};
