/* Extracted from: linux/arch/arm64/boot/dts/st/stm32mp251.dtsi, lines 2285-2338 */

eth1: eth1@482c0000 {
    compatible = "st,stm32mp25-dwmac", "snps,dwmac-5.10a";
    reg = <0x482c0000 0x4000>;
    reg-names = "stmmaceth";
    interrupts-extended = <&intc GIC_SPI 130 IRQ_TYPE_LEVEL_HIGH>,
                          <&exti1 68 IRQ_TYPE_LEVEL_HIGH>;
    interrupt-names = "macirq", "eth_wake_irq";
    clock-names = "stmmaceth", "mac-clk-tx", "mac-clk-rx",
                  "ptp_ref", "ethstp", "eth-ck";
    clocks = <&rcc CK_ETH1_MAC>,
             <&rcc CK_ETH1_TX>,
             <&rcc CK_ETH1_RX>,
             <&rcc CK_KER_ETH1PTP>,
             <&rcc CK_ETH1_STP>,
             <&rcc CK_KER_ETH1>;
    st,syscon = <&syscfg 0x3000 0xffffffff>;
    snps,mixed-burst;
    snps,pbl = <2>;
    snps,txqos = <7>;
    snps,rxqos = <7>;
    snps,axi-config = <&stmmac_axi_config_1>;
    snps,tso;
    access-controllers = <&rifsc 60>;
    power-domains = <&d1_pd>;
    wakeup-source;
    status = "disabled";
    snps,mtl-rx-config = <&mtl_rx_setup_1>;
    snps,mtl-tx-config = <&mtl_tx_setup_1>;

    stmmac_axi_config_1: stmmac-axi-config {
        snps,wr_osr_lmt = <0x7>;
        snps,rd_osr_lmt = <0x7>;
        snps,blen = <0 0 0 0 16 8 4>;
    };
    mtl_rx_setup_1: rx-queues-config {
        snps,rx-queues-to-use = <2>;
        queue0 {};
        queue1 {};
    };
    mtl_tx_setup_1: tx-queues-config {
        snps,tx-queues-to-use = <4>;
        queue0 {};
        queue1 {};
        queue2 {};
        queue3 {};
    };
};

/* Board-level enablement from: linux/arch/arm64/boot/dts/digi/ccmp25-dvk.dts, lines 321-370 */

&eth1 {
    status = "okay";
    pinctrl-0 = <&eth1_rgmii_pins_a &eth1_mdio_pins_a>;
    pinctrl-1 = <&eth1_rgmii_sleep_pins_a &eth1_mdio_sleep_pins_a>;
    pinctrl-names = "default", "sleep";
    phy-mode = "rgmii-id";
    max-speed = <1000>;
    phy-handle = <&phy1_eth1>;
    snps,ext-systime;

    mdio1 {
        #address-cells = <1>;
        #size-cells = <0>;
        compatible = "snps,dwmac-mdio";
        phy1_eth1: ethernet-phy@0 {
            compatible = "ethernet-phy-id0141.0dd0"; /* Marvell 88E1512 */
            reset-gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
            reset-assert-us = <1000>;
            reset-deassert-us = <2000>;
            reg = <0>;
        };
    };
};

&eth2 {
    status = "okay";
    pinctrl-0 = <&eth2_rgmii_pins_a>;
    pinctrl-1 = <&eth2_rgmii_sleep_pins_a>;
    pinctrl-names = "default", "sleep";
    phy-mode = "rgmii-id";
    max-speed = <1000>;
    phy-handle = <&phy1_eth2>;
    st,eth-ptp-from-rcc;

    mdio1 {
        #address-cells = <1>;
        #size-cells = <0>;
        compatible = "snps,dwmac-mdio";
        phy1_eth2: ethernet-phy@1 {
            compatible = "ethernet-phy-id0141.0dd0"; /* Marvell 88E1512 */
            reset-gpios = <&gpiog 6 GPIO_ACTIVE_LOW>;
            reset-assert-us = <1000>;
            reset-deassert-us = <2000>;
            reg = <1>;
        };
    };
};
